body {
  background-color: #9bc5c3;
  text-align: center;
}

.mainheading {
  font-size: 50pt;
  font-family: 'Hanalei Fill', system-ui;
}

.navlink {
  font-family: 'Hanalei fill', system-ui;
  text-decoration: none;
  font-size: 40pt;
}
